/** Styling Variables **/
:root {
    --ucla-gold: #ffd100;
    --ucla-darker-gold: #ffc72c;
    --ucla-darkest-gold: #ffb81c;
    --ucla-blue: #2774ae;
    --ucla-lightest-blue: #daebfe;
    --ucla-lighter-blue: #8bb8e8;
    --ucla-darker-blue: #005587;
    --ucla-darkest-blue: #003b5c;
    --white: #fff;
    --light-grey: #e6e6e6;
    --grey: #999;
    --dark-grey: #666;
    --darkest-grey: #333;
    --black: #000;
    --font-family: 'Overpass', Helvetica, Arial, sans-serif;
    --font-family-display: var(--font-family);
    --bold: bold;
}

/** Webpage **/
html {
    background: var(--ucla-darkest-blue);
}
body {
    background: linear-gradient(0deg, rgba(0,59,92,1) 0%, rgba(0,85,135,1) 60%, rgba(39,116,174,1) 100%);
    color: var(--darkest-grey);
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;
}

/** Hyperlinks **/
a {
    color: var(--ucla-blue);
}
a:hover {
    color: var(--ucla-darker-blue);
}
a:active,
a.active {
    color: var(--ucla-darkest-gold);
}

/** Buttons **/
.btn-outline-primary {
    color: var(--ucla-darker-blue);
    border-color: var(--ucla-darker-blue);
}
.btn-outline-primary:hover {
    background: var(--ucla-blue);
    border-color: var(--ucla-blue);
    color: var(--white);
}
.btn-outline-secondary {
    color: var(--white);
    border-color: var(--white);
}
.btn-outline-secondary:hover {
    background: var(--ucla-blue);
    border-color: var(--ucla-blue);
    color: var(--white);
}

/** Headings **/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--bold);
}

/** Navigation Bar **/
.navbar-nav .nav-item {
    padding: 0 1rem;
}
.navbar a {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--white);
}
.navbar a:hover {
    color: var(--ucla-gold);
}
.navbar a:active,
.navbar a.active {
    color: var(--ucla-darker-gold);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .dropdown-menu {
    background: var(--ucla-blue);
}
.navbar .dropdown-menu a {
    font-size: 1rem;
}
.navbar .dropdown-menu a:hover {
    background: var(--ucla-blue);
}

/** Header **/
header #about-us {
    background: var(--white);
}
header #about-us h3 {
    text-decoration: underline;
    text-decoration-color: var(--ucla-darkest-gold);
}

/** Carousel **/
#carouselIndicators .carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem 1rem;
}

/** Featured Projects **/
#featured h2 {
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--ucla-darkest-gold);
    text-align: center;
}

/** Footer **/
footer {
    color: var(--white);
}

/** Newsletter --*/
#newsletter h5 {
    text-decoration: underline;
    text-decoration-color: var(--ucla-darkest-gold);
}